{% extends 'eventcentral/base.html' %}
{% block content %}
{% if user.is_authenticated %}
{% load static %}
    <h1>New Event</h1>
    <br>
    {% if submitted %}
        Event Posted
    {% else %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{ form.media }}
        <form action="" method=POST enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type = "submit" value="Submit" class="btn btn-secondary">
        </form>
    {% endif %}
{% else %}
<h1 class="font-monospace"><a href="{%url 'login'%}">Login</a> to Continue..</h1>
{%endif%}
{% endblock %}
