
{% extends 'eventcentral/base.html' %}
{% block content %}
<style>
    .card-column {
      margin-bottom: 20px;
    }
    .custom-card-img {
    height: 200px;
    object-fit: cover;
    }
  </style>
<h1 class="display-2">All Events</h1>
<br>
<div class="row">
    {% for event in event_list %}
    <div class="col-md-4 card-column">
      <div class="card h-100">
        {% if event.event_image %}
        <img class="card-img-top custom-card-img" src="{{event.event_image.url}}" alt="Image">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ event }}</h5>
          <p class="card-text"><p class="font-monospace">{{ event.description|slice:":100" }}...</p>Available for: {{event.opentodept}} <br><br> Last date to apply: {{ event.event_date }}</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary">Update Event</a>
          <a href="{% url 'delete-event' event.id %}" class="btn btn-danger">Delete Event</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
