{% extends 'eventcentral/base.html' %}
{% block content %}
<style>
    .card-column {
      margin-bottom: 20px;
    }
    .custom-card-img {
    height: 200px;
    object-fit: cover;
    }
</style>
<br><br><br><br><br>
{% if closing %}
<h1 class="display-3">Last Day to Register</h1>
<br>
<div class="row">
{% for event in closing %}
<br>
    <div class="col-md-4 card-column">
      <div class="card h-100">
        {% if event.event_image %}
        <img class="card-img-top custom-card-img" src="{{item.event_image.url}}" alt="Image">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ event }}</h5>
          <p class="card-text"><p class="font-monospace">{{ event.description|slice:":100" }}...</p><br> Last date to apply: {{ event.event_date }}</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-secondary">Apply</a>
        </div>
      </div>
    </div>


<br>
<br>
{% endfor %}
</div>
{% endif %}



{% regroup event_list by opentodept as grouped_list %}
{% for group in grouped_list %}
<h1 class="display-3">{{ group.grouper }}</h1>
<br>
<div class="row">
    {% for item in group.list %}
    <div class="col-md-4 card-column">
      <div class="card h-100">
        {% if item.event_image %}
        <img class="card-img-top custom-card-img" src="{{item.event_image.url}}" alt="Image">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ item }}</h5>
          <p class="card-text"><p class="font-monospace">{{ item.description|slice:":100" }}...</p><br> Last date to apply: {{ item.event_date }}</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-secondary">Apply</a>
        </div>
      </div>
    </div>
    {% endfor %}

</div>
<br>
<br>
<br>
{% endfor %}
{% endblock %}


